---
---
<!DOCTYPE html>
<html lang="en">
<title>How to use the Growlog.</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif
    }

    .w3-bar,
    h1,
    button {
        font-family: "Montserrat", sans-serif
    }

    .fa-anchor,
    .fa-coffee {
        font-size: 200px
    }
</style>

<body>

    {% include navbar.html %}

    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <h1 id="how-to-use-the-growlog">How to use the Growlog</h1>

            <h3><a href="#add-a-new-plant">Add a new plant</a></h3>
            <h3><a href="#edit-name-and-photo-of-a-plant">Edit name and photo of a plant</a></h3>
            <h3><a href="#delete-a-plant">Delete a plant</a></h3>
            <h3><a href="#add-a-plant-action">Add a plant action</a></h3>
            <h3><a href="#edit-a-plant-action-name">Edit a plant action name</a></h3>
            <h3><a href="#delete-a-plant-action">Delete a plant action</a></h3>
            <h3><a href="#record-a-plant-action">Record a plant action</a></h3>
            <h3><a href="#edit-date-and-time-of-an-action">Edit date and time of an action</a></h3>
            <h3><a href="#add-note-for-a-plant">Add a note for a plant</a></h3>
            <h3><a href="#set-reminder-for-an-action">Set reminder for an action</a></h3>
            <h3><a href="#postpone-a-reminder">Postpone a reminder</a></h3>
            <h3><a href="#disable-reminder-for-an-action">Disable reminder for an action</a></h3>
            <h3><a href="#enable-notification-for-reminders">Enable notification for reminders</a></h3>
            <h3><a href="#disable-notification-for-reminders">Disable notification for reminders</a></h3>
            <h3><a href="#change-notification-time-for-reminders">Change notification time for reminders</a></h3>
            <h3><a href="#access-action-history">Access action history</a></h3>
            <h3><a href="#backup-plant-data">Backup plant data</a></h3>
            <h3><a href="#restore-plant-data">Restore plant data</a></h3>

        </div>
    </div>

    <div id="add-a-new-plant" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Add a new plant</h1>
                <ol>
                    <li>Go to the home screen that has the title 'Your plants'.</li>
                    <li>Tap the plus button at the right bottom corner. This opens the screen for adding a new plant.
                    </li>
                    <li>Write plant name in 'Plant name' field.</li>
                    <li>Add plant photo using either the Gallery or Camera button.</li>
                    <li>Save the plant using check mark button at the top right corner.</li>
                </ol>
            </div>

            <!-- Add a plant screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="edit-name-and-photo-of-a-plant" class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Edit name and photo of a plant</h1>
                <ol>
                    <li>Go to the home screen that has the title 'Your plants'.</li>
                    <li>Tap on the plant whose name or photo you want to change. This will open the plant actions list.
                    </li>
                    <li>Tap the overflow (triple dot) menu in top right corner and select 'Edit Plant'. This will open
                        the 'Edit plant' screen.</li>
                    <li>Write the new name, if you want to edit the name.</li>
                    <li>Choose a new photo, if you want to edit the photo.</li>
                    <li>Save the plant using the check mark button in top right corner.</li>
                </ol>
            </div>

            <!-- Edit plant screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="delete-a-plant" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Delete a plant</h1>
                <ol>
                    <li>Go to the home screen that has the title 'Your plants'.</li>
                    <li>Tap on the plant that you want to delete. This will open the plant actions list.</li>
                    <li>Tap the overflow (triple dot) menu in top right corner and select 'Delete Plant'.</li>
                    <li>Tap Delete button in confirmation dialog.</li>
                </ol>
            </div>

            <!-- Delete plant screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="add-a-plant-action" class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Add a plant action</h1>
                <ol>
                    <li>Go to the home screen that has the title 'Your plants'.</li>
                    <li>Tap on the plant for which you want to add an action. This will open the plant actions list
                        screen with the name of that plant as the title.</li>
                    <li>In plant action list screen, tap the plus button in the bottom right corner to open the dialog
                        for plant action name.</li>
                    <li>Enter the name of the plant action and tap Add button.</li>
                </ol>
            </div>

            <!-- Add a plant action screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="edit-a-plant-action-name" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Edit a plant action name</h1>
                <ol>
                    <li>Go to the action list screen of the plant.</li>
                    <li>Tap the calendar button of that action to open the history screen.</li>
                    <li>In the history screen toolbar, tap pencil button to open the edit dialog.</li>
                    <li>Enter the name of the plant action and tap Update button.</li>
                </ol>
            </div>

            <!-- Edit a plant action screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="delete-a-plant-action" class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Delete a plant action</h1>
                <ol>
                    <li>Go to the action list screen of the plant.</li>
                    <li>Tap the calendar button of that action to open the history screen.</li>
                    <li>In the history screen toolbar, tap bin button to open the confirmation dialog.</li>
                    <li>In the confirmation dialog tap the delete button.</li>
                </ol>
            </div>

            <!-- Delete a plant action screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="record-a-plant-action" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Record a plant action</h1>
                <ol>
                    <li>Go to the action list screen of the plant.</li>
                    <li>Tap the big checkmark button of the action that you want to perform.</li>
                    <li>This will mark that action as done and the app will automatically generate the date and time
                        history for you.</li>
                </ol>
            </div>

            <!-- Record a plant action screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="edit-date-and-time-of-an-action" class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Edit date and time of an action</h1>
                <ol>
                    <li>Go to the action list screen of the plant.</li>
                    <li>Tap the pencil button of the action that you want to edit the date and time for. This will open
                        the calendar to pick date.</li>
                    <li>Select the date and tap OK to open the clock.</li>
                    <li>Select the time and tap OK.</li>
                </ol>
            </div>

            <!-- Edit date and time of an action screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="add-note-for-a-plant" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Add a note for a plant</h1>
                <ol>
                    <li>Go to the action list screen of the plant.</li>
                    <li>Tap the note button in the toolbar to open the notes screen for that plant.</li>
                    <li>Write your note.</li>
                    <li>Tap checkmark button in the toolbar to save the note.</li>
                </ol>
            </div>

            <!-- Add a note for plant screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="set-reminder-for-an-action" class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Set reminder for an action</h1>
                <ol>
                    <li>Go to the action list screen of the plant.</li>
                    <li>Tap the alarm button of the action that you want to set the reminder for. This will open the alarm dialog.</li>
                    <li>Pick the number of days after which to repeat the alarm.</li>
                    <li>Tap Done.</li>
                </ol>
            </div>

            <!-- Set reminder for a plant action screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="postpone-a-reminder" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Postpone a reminder</h1>
                <ol>
                    <li>Go to 'Your reminders' screen.</li>
                    <li>Tap the snooze button of the action that you want to postpone the reminder for. This will open Postpone Alarm dialog.</li>
                    <li>Pick the number of days to postpone the reminder.</li>
                    <li>Tap Done.</li>
                </ol>
            </div>

            <!-- Postpone reminder for a plant action screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="disable-reminder-for-an-action" class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Disable reminder for an action</h1>
                <ol>
                    <li>Go to the action list screen of the plant.</li>
                    <li>Tap the alarm button of the action that you want to disable the reminder for. This will open the alarm dialog.</li>
                    <li>Pick zero to disable the alarm.</li>
                    <li>Tap Done.</li>
                </ol>
            </div>

            <!-- Disable reminder screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="enable-notification-for-reminders" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Enable notification for reminders</h1>
                <ol>
                    <li>Swipe right from the left edge of the screen to open the navigation menu. You can also open the navigation menu by going to 'Your plants' screen and tapping the hamburger button.</li>
                    <li>Tap the Settings to open the settings screen.</li>
                    <li>Tap the toggle button of the Action Reminder setting to the enabled position.</li>
                </ol>
            </div>

            <!-- Enable reminder notification screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="disable-notification-for-reminders" class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Disable notification for reminders</h1>
                <ol>
                    <li>Swipe right from the left edge of the screen to open the navigation menu. You can also open the navigation menu by going to 'Your plants' screen and tapping the hamburger button.</li>
                    <li>Tap the Settings to open the settings screen.</li>
                    <li>Tap the toggle button of the Action Reminder setting to the disabled position.</li>
                </ol>
            </div>

            <!-- Disable reminder notification screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="change-notification-time-for-reminders" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Change notification time for reminders</h1>
                <ol>
                    <li>Swipe right from the left edge of the screen to open the navigation menu. You can also open the navigation menu by going to 'Your plants' screen and tapping the hamburger button.</li>
                    <li>Tap the Settings to open the settings screen.</li>
                    <li>Tap Action Reminder Time setting to open the clock.</li>
                    <li>Select the new time for notification and tap OK.</li>
                </ol>
            </div>

            <!-- Change reminder notification time screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="access-action-history" class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Access action history</h1>
                <ol>
                    <li>Go to the action list screen of the plant.</li>
                    <li>Tap the calender button of the action that you want to access the history for. This will open the action history screen.</li>
                </ol>
            </div>

            <!-- Access action history screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="backup-plant-data" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Backup plant data</h1>
                <ol>
                    <li>Swipe right from the left edge of the screen to open the navigation menu. You can also open the navigation menu by going to 'Your plants' screen and tapping the hamburger button.</li>
                    <li>Tap Backup to open the Backup screen.</li>
                    <li>Tap the Backup button to open file explorer.</li>
                    <li>Select the folder in which you want to store the backup file.</li>
                    <li>Tap the Save button in the bottom right corner.</li>
                </ol>
            </div>

            <!-- Backup plant data screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <div id="restore-plant-data" class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Restore plant data</h1>
                <ol>
                    <li>Swipe right from the left edge of the screen to open the navigation menu. You can also open the navigation menu by going to 'Your plants' screen and tapping the hamburger button.</li>
                    <li>Tap Restore to open the Restore screen.</li>
                    <li>Tap the Restore button to open file explorer.</li>
                    <li>Navigate to the folder where you previously saved the backup file.</li>
                    <li>Tap the backup file to start the restore operation. If you are selecting the file from the cloud like Google Drive, the progress will stay on zero while the file is being downloaded to your device.</li>
                </ol>
            </div>

            <!-- Restore plant data screenshot -->
            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    {% include footer.html %}

</body>

</html>